:root {
    --primary-color: #ff004f;
    --secondary-color: #ababab;
    --bg-dark: #080808;
    --bg-light: #262626;
    --color-text-primary: #fff;
    --color-text-success: #61b752;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--bg-dark);
    color: var(--color-text-primary);
}

/*-------------- HOME PAGE --------------*/
/* header section */
#header {
    width: 100%;
    background-image: url('../images/my-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;

}

.active-section {
    color: var(--primary-color);
    cursor: default;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 300px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a.inactive-section::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a.inactive-section:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: var(--primary-color);
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--bg-light);
    font-weight: 300;
    margin-top: 20px;
}

/* about section */
#about {
    padding: 80px 0;
    color: var(--secondary-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1 {
    flex-basis: 35%;
}

.about-col1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-text-primary);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--secondary-color);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}

.contact-me p i {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 25px;
}

.contact-me p {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

/* projects section */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--color-text-primary);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-text-primary);
    transition: background 0.5s;
}

.btn:hover {
    background: var(--primary-color);
}

.download-cv-text {
    font-size: 30px;
    text-align: center;
}

/*-------------- RESUME PAGE --------------*/
/* education section */
#education {
    padding: 30px 0;
}

.education-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.education-list div:hover {
    background: var(--primary-color);
    transform: translateY(-10px);
}

.education-list div {
    background: var(--bg-light);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.education-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 40px;
}

.education-list div h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.education-list div p {
    font-size: 15px;
}

.education-list div img {
    width: 100px;
    margin: 10px 10px;
}

/* work experiences and skills section */
#experiences {
    flex-basis: 35%;
    margin-top: 50px;
}

.experience {
    background: var(--bg-light);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin-bottom: 40px;
}

.experience h2 {
    font-size: 30px;
    font-weight: 500;
}

.experience h3 {
    font-size: 18px;
    font-weight: 500;
}

.experience p {
    font-size: 15px;
}

#skills {
    flex-basis: 60%;
    margin-top: 50px;
}

#skills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--bg-light);
    padding: 10px;
    border-radius: 8px;
    max-width: 600px;
    margin-bottom: 20px;
    position: relative;
}

#skills .skill::after {
    content: '';
    width: var(--skill-width, 0%);
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    border-radius: 1px;
    bottom: 0px;
    transition: width 0.5s ease-in-out;
}

#skills .specific-skill {
    flex-basis: 80%;
    display: flex;
    align-items: center;
}

#skills .skill-excellence {
    flex-basis: 15%;
    display: flex;
    justify-content: flex-end;
}

/* contact section */
.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--bg-light);
    padding: 15px;
    margin: 15px 0;
    color: var(--color-text-primary);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    background: var(--bg-dark);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
}

form .btn2:hover {
    background: var(--primary-color);
}

#msg {
    color: var(--color-text-success);
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#loader .dots span {
    position: absolute;
    height: 10px;
    width: 10px;
    background: var(--primary-color);
    border-radius: 50%;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
    opacity: 0;
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*-------------- PROJECTS PAGE --------------*/
.project-info {
    margin-top: 70px;
}

.project-slider {
    flex-basis: 35%;
}

.project-desc {
    flex-basis: 60%;
}

.project-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slider-images {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-text-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.project-desc h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.project-desc h2 {
    margin-bottom: 20px;
}

.project-desc i {
    margin-right: 15px;
    font-size: 40px;
    color: var(--secondary-color);
    display: inline-block;
    transition: transform 0.5s;
}

.project-desc i:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}

/*-------------- CSS FOR SMALL SCREENS --------------*/
nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {

    #header {
        background-size: cover;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: var(--secondary-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-col1,
    .about-col2 {
        flex-basis: 100%;
    }

    .about-col1 {
        margin-bottom: 30px;
    }

    .about-col2 {
        font-size: 14px;
    }

    .contact-right,
    .contact-me {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    #experiences,
    #skills {
        flex-basis: 100%;
    }

    .social-icons {
        margin-bottom: 30px;
    }

    .project-slider,
    .project-desc {
        flex-basis: 100%;
    }

    .arrow {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .project-desc h1 {
        margin-top: 20px;
    }

    .project-desc i {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .logo {
        width: 200px;
    }

    #about {
        padding: 70px 0 20px;
    }

    #portfolio {
        padding: 30px 0;
    }

    .work img {
        min-height: 270px;
    }

    .layer h3 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    .layer a {
        margin-top: 10px;
        font-size: 15px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
    }

    .layer p {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }

    nav ul li a.inactive-section::after {
        width: 0%;
    }

    nav ul li a.inactive-section:hover::after {
        width: 0%;
    }
}